<div *ngIf="isTTOrSSComplete == false">
	<h3>Test</h3>

	<div class="col-md-4">
		<label>Mark or UnMark the word: </label>
		<label class="toggle col-sm-8">
    <input type="checkbox" (click)="MarkOrUnmarkQuestion()" name="MarkWord" [(ngModel)]="IsMarked">
    <span class="handle"></span>
  </label>
	</div>

	<div class="col-md-4">
		<label>Dont show this question I know this very well: </label>
		<label class="toggle col-sm-8">
    <input type="checkbox" (click)="DontShowQuestionChecked()" name="DontShowQuestion" [(ngModel)]="IsDontShowQuestion">
    <span class="handle"></span>
  </label>
	</div>
	<div>


		<form action="">
			<p>Your rating of difficulty</p>
			<label class="btn btn-primary active">
    <input type="radio" name="options" [(ngModel)]="questionDifficulty" [value]="3" [checked]="questionDifficulty==1" (change)="RateDifficulty()" checked/> Hard
	</label>


			<label class="btn btn-primary">
    <input type="radio" name="options"  [(ngModel)]="questionDifficulty" [value]="2"  [checked]="questionDifficulty==2" (change)="RateDifficulty()"/> Medium
</label>
			<label class="btn btn-primary">
    <input type="radio" name="options" [(ngModel)]="questionDifficulty" [value]="1"  [checked]="questionDifficulty==3" (change)="RateDifficulty()"/> Easy
</label>


		</form>




		<div class="row question">
			<div class="row ID">
				{{counter0}}<br/> {{test.currentQuestion?.QuestionID}}
				<div *ngIf="test.currentQuestion?.averageTimeTakenForQuestionForAllUsers.length != 0">
					<br/> Average Time Taken: <b>{{test.currentQuestion?.averageTimeTakenForQuestionForAllUsers[0].averageTimeTaken}}</b>

				</div>
				<p>All users rating percentages</p>
				<div *ngFor="let level of currentQuestionDifficultySortArray">
					<div *ngIf="level.DifficultyLevel == 1 && level.DifficultyPercentage != 0"><b>Easy Percentage is {{level.DifficultyPercentage}}</b></div>
					<div *ngIf="level.DifficultyLevel == 2 && level.DifficultyPercentage != 0"><b>Medium Percentage is {{level.DifficultyPercentage}}</b></div>
					<div *ngIf="level.DifficultyLevel == 3 && level.DifficultyPercentage != 0"><b>Hard Percentage is {{level.DifficultyPercentage}}</b></div>


				</div>

				<div>
					<div *ngIf="percentageCorrectIncorrectForCurrentQuestion?.IncorrectPercentage != 0"><b>Incorrect Percentage is {{percentageCorrectIncorrectForCurrentQuestion?.IncorrectPercentage}}</b></div>
					<div *ngIf="percentageCorrectIncorrectForCurrentQuestion?.CorrectPercentage != 0"><b>Correct Percentage is {{percentageCorrectIncorrectForCurrentQuestion?.CorrectPercentage}}</b></div>
				</div>

			</div>

			<div class="row Question">
				<h2>{{test.currentQuestion?.question}}</h2>
			</div>
			<form action="">
				<div *ngFor="let choice of test.currentQuestion?.FinalFourShuffledChoices">
					<div class="row">
						<input type="radio" [(ngModel)]="userChoiceID" name="choices" [value]="choice.choiceId" [checked]="userChoiceID==choice.choiceId"
						 (change)="updateAndAddCurrentHit()" /> {{choice.choiceText}}
						<!-- <input type="radio" [(ngModel)]="model.sex"  name="sex" value="male">Male<br>-->

					</div>
				</div>
				<br/><br/>
				<div>Selected Radio: {{userChoiceID}}</div>
			</form>

			<br/><br/>
			<button (click)="NextQuestion()">Next</button><br/><br/>
			<br/><br/>
			<h3>Attempt History of you for this question</h3>
			<div *ngFor="let attempt of test.currentQuestion?.attempts">
				<div class="row">

					<b>Attempt Number: </b> {{attempt.attemptNumber}} ||

					<b>Test or STudy Session</b> {{attempt.testOrStudySession}} ||

					<b>You Took: </b> {{attempt.timeTaken}} Seconds ||

					<b>Your Final answer for the attempt: </b> {{attempt.userFinalHitAnswer}}.
					<br/><br/>
				</div>
			</div>

			<br/><br/>

			<h3>AUG Notes</h3>
			<div *ngFor="let augnote of test.currentQuestion?.augnotes">
				<div class="row">

					<h4>{{augnote.augnotePointText}}</h4>
					<br/>
				</div>
			</div>

			<br/><br/>

			
			<b>Score: </b>{{test?.Score}}

			<br/><br/>

			



		</div>

	</div>
</div>
<div class="col-md-12" *ngIf="isTTOrSSComplete == true">
	<div class="row" style="margin:0 auto;">
		<h2>Immediate Summary Review</h2>
	</div>


	<form action="">

		<label class="btn btn-primary active">
    <input type="radio" name="options" [(ngModel)]="toDisplayISR" [value]="1" [checked]="toDisplayISR==1" (change)="ShowISR()" checked/> Review Incorrect
	</label>


		<label class="btn btn-primary">
    <input type="radio" name="options"  [(ngModel)]="toDisplayISR" [value]="2"  [checked]="toDisplayISR==2" (change)="ShowISR()"/> Review Most Time Taken
</label>
		<label class="btn btn-primary">
    <input type="radio" name="options" [(ngModel)]="toDisplayISR" [value]="3"  [checked]="toDisplayISR==3" (change)="ShowISR()"/> Review Marked
</label>
		<label class="btn btn-primary">
    <input type="radio" name="options"  [(ngModel)]="toDisplayISR" [value]="4"  [checked]="toDisplayISR==4" (change)="ShowISR()"/> Review Correct
</label>

	</form>
	<div *ngIf="toDisplayISR=='1'">
		<div class="row" style="margin:0 auto;">
			<h3>Incorrectly answered Questions</h3>
		</div>
		<div class="MasterDiv" *ngFor="let question of incorrectQuestionsList" style="border:2px solid black;">


			<div>
				<label>Mark or UnMark the word: </label>
				<div *ngIf="question.isMarked == true">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRMarkOrUnmarkQuestion($event.target.getAttribute('value'), $event.target.checked,question)" checked>
							<span class="handle"></span>
  						</label>
				</div>
				<div *ngIf="question.isMarked == false">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRMarkOrUnmarkQuestion($event.target.getAttribute('value'), $event.target.checked,question)">
							<span class="handle"></span>
  						</label>
				</div>
			</div>


			<div>
				<label>Show or dont show question: </label>
				<div *ngIf="question.isDontShowQuestion == true">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRDontShowQuestionChecked($event.target.getAttribute('value'), $event.target.checked,question)" checked>
							<span class="handle"></span>
  						</label>
				</div>
				<div *ngIf="question.isDontShowQuestion == false">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRDontShowQuestionChecked($event.target.getAttribute('value'), $event.target.checked,question)">
							<span class="handle"></span>
  						</label>
				</div>
			</div>

			<form action="">
				<p>Your rating of difficulty</p>
				<div>
					<div *ngIf="question.hardMediumOrEasy == 3">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="3"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" checked/> Hard
	</label>
					</div>
					<div *ngIf="question.hardMediumOrEasy != 3">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="3"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" /> Hard
	</label>
					</div>
				</div>
				<div>
					<div *ngIf="question.hardMediumOrEasy == 2">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="2"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" checked/> Medium
	</label>
					</div>
					<div *ngIf="question.hardMediumOrEasy != 2">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="2"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" /> Medium
	</label>
					</div>
				</div>
				<div>
					<div *ngIf="question.hardMediumOrEasy == 1">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="1"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" checked/> Easy
	</label>
					</div>
					<div *ngIf="question.hardMediumOrEasy != 1">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="1"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" /> Easy
	</label>
					</div>
				</div>

			</form>

			<div class="row">
				<div class="col-md-11">
					<div class="row">
						{{question.questionsAfterUg.question}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<!--Average Time Taken: {{question.questionsAfterUg.averageTimeTakenForQuestionForAllUsers[0].averageTimeTaken}}-->Your Time Taken: {{question.timeTaken}} Seconds
						<br/>
					</div>
					<div class="row" *ngFor="let choice of question.questionsAfterUg.choices">
						<div *ngFor="let incorrectChoiceID of question.incorrectChoicesChoiceIdArray">
							<div *ngIf="choice.choiceId == question.questionsAfterUg.correctChoiceId" [ngClass]="{'my-classcorrect': choice.choiceId == question.questionsAfterUg.correctChoiceId }">
								{{choice.choiceText}} {{choice.choiceId}}<br/>
							</div>

							<div *ngIf="choice.choiceId == incorrectChoiceID" [ngClass]="{'my-classincorrect': choice.choiceId == incorrectChoiceID}">
								{{choice.choiceText}} {{choice.choiceId}}<br/>
							</div>

							<div *ngIf="choice.choiceId != incorrectChoiceID && choice.choiceId != question.questionsAfterUg.correctChoiceId">
								{{choice.choiceText}} {{choice.choiceId}}<br/>
							</div>
						</div>
						
					</div>



				</div>
			</div>
		</div>
	</div>
	<br/><br/>

	
	<div>
		<button (click)="SaveTTOrSSAndISRData()">SaveData</button><br/><br/>
		<img *ngIf="loading" height="30" width="40" [src]="fullImagePath" />
	</div>

</div>