<div class="col-md-12" *ngIf="isTTOrSSComplete == true">
	<div class="row" style="margin:0 auto;">
		<h2>Immediate Summary Review</h2>
	</div>


	<form action="">

		<label class="btn btn-primary active">
    <input type="radio" name="options" [(ngModel)]="toDisplayISR" [value]="1" [checked]="toDisplayISR==1" (change)="ShowISR()" checked/> Review Incorrect
	</label>


		<label class="btn btn-primary">
    <input type="radio" name="options"  [(ngModel)]="toDisplayISR" [value]="2"  [checked]="toDisplayISR==2" (change)="ShowISR()"/> Review Most Time Taken
</label>
		<label class="btn btn-primary">
    <input type="radio" name="options" [(ngModel)]="toDisplayISR" [value]="3"  [checked]="toDisplayISR==3" (change)="ShowISR()"/> Review Marked
</label>
		<label class="btn btn-primary">
    <input type="radio" name="options"  [(ngModel)]="toDisplayISR" [value]="4"  [checked]="toDisplayISR==4" (change)="ShowISR()"/> Review Correct
</label>

	</form>
	<div *ngIf="toDisplayISR=='1'">
		<div class="row" style="margin:0 auto;">
			<h3>Incorrectly answered Questions</h3>
		</div>
		<div class="MasterDiv" *ngFor="let question of incorrectQuestionsList" style="border:2px solid black;">


			<div>
				<label>Mark or UnMark the word: </label>
				<div *ngIf="question.IsMarked == true">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRMarkOrUnmarkQuestion($event.target.getAttribute('value'), $event.target.checked,question)" checked>
							<span class="handle"></span>
  						</label>
				</div>
				<div *ngIf="question.IsMarked == false">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRMarkOrUnmarkQuestion($event.target.getAttribute('value'), $event.target.checked,question)">
							<span class="handle"></span>
  						</label>
				</div>
			</div>


			<div>
				<label>Show or dont show question: </label>
				<div *ngIf="question.IsDontShowQuestion == true">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRDontShowQuestionChecked($event.target.getAttribute('value'), $event.target.checked,question)" checked>
							<span class="handle"></span>
  						</label>
				</div>
				<div *ngIf="question.IsDontShowQuestion == false">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRDontShowQuestionChecked($event.target.getAttribute('value'), $event.target.checked,question)">
							<span class="handle"></span>
  						</label>
				</div>
			</div>

			<form action="">
				<p>Your rating of difficulty</p>
				<div>
					<div *ngIf="question.HardMediumOrEasy == 3">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="3"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" checked/> Hard
	</label>
					</div>
					<div *ngIf="question.HardMediumOrEasy != 3">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="3"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" /> Hard
	</label>
					</div>
				</div>
				<div>
					<div *ngIf="question.HardMediumOrEasy == 2">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="2"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" checked/> Medium
	</label>
					</div>
					<div *ngIf="question.HardMediumOrEasy != 2">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="2"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" /> Medium
	</label>
					</div>
				</div>
				<div>
					<div *ngIf="question.HardMediumOrEasy == 1">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="1"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" checked/> Easy
	</label>
					</div>
					<div *ngIf="question.HardMediumOrEasy != 1">
						<label class="btn btn-primary active">
    <input type="radio" name="options"  [value]="1"  (change)="ISRRateDifficulty($event.target.getAttribute('value'), $event.target.checked,question)" /> Easy
	</label>
					</div>
				</div>

			</form>

			<div class="row">
				<div class="col-md-11">
					<div class="row">
						{{question.questionsAfterUg.Question}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<!--Average Time Taken: {{question.questionsAfterUg.averageTimeTakenForQuestionForAllUsers[0].averageTimeTaken}}-->Your Time Taken: {{question.TimeTaken}} Seconds
						<br/>
					</div>
					<div class="row" *ngFor="let choice of question.questionsAfterUg.Choices">
						<div *ngIf="choice.choiceId == question.questionsAfterUg.correctChoiceId" [ngClass]="{'my-classcorrect': choice.choiceId == question.questionsAfterUg.correctChoiceId }">
							{{choice.ChoiceText}} {{choice.choiceId}}<br/>
						</div>
						<div *ngFor="let incorrectChoiceID of question.IncorrectChoicesChoiceIdArray">
							<div *ngIf="choice.choiceId == incorrectChoiceID" [ngClass]="{'my-classincorrect': choice.choiceId == incorrectChoiceID}">

								{{choice.ChoiceText}} {{choice.choiceId}}<br/>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/><br/>

	<div *ngIf="toDisplayISR=='2'">
		<div class="row" style="margin:0 auto;">
			<h3>Correctly Answered Questions</h3>
		</div>
		<div class="MasterDiv" *ngFor="let question of mostTimeTakenQuestionsList" style="border:2px solid black;">
			<div>
				<label>Mark or UnMark the word: </label>
				<div *ngIf="question.IsMarked == true">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRMarkOrUnmarkQuestion($event.target.getAttribute('value'), $event.target.checked,question)" checked>
							<span class="handle"></span>
  						</label>
				</div>
				<div *ngIf="question.IsMarked == false">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRMarkOrUnmarkQuestion($event.target.getAttribute('value'), $event.target.checked,question)">
							<span class="handle"></span>
  						</label>
				</div>
			</div>


			<div>
				<label>Show or dont show question: </label>
				<div *ngIf="question.IsDontShowQuestion == true">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRDontShowQuestionChecked($event.target.getAttribute('value'), $event.target.checked,question)" checked>
							<span class="handle"></span>
  						</label>
				</div>
				<div *ngIf="question.IsDontShowQuestion == false">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRDontShowQuestionChecked($event.target.getAttribute('value'), $event.target.checked,question)">
							<span class="handle"></span>
  						</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11"> 
					<div class="row">
						{{question.questionsAfterUg.Question}}<br/> {{question.TimeTaken}} Seconds<br/>
					</div>
					<div class="row" *ngFor="let choice of question.questionsAfterUg.Choices">
						<div *ngIf="choice.choiceId == question.questionsAfterUg.correctChoiceId" [ngClass]="{'my-classcorrect': choice.choiceId == question.questionsAfterUg.correctChoiceId }">
							{{choice.ChoiceText}} {{choice.choiceId}}<br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/><br/>

	<div *ngIf="toDisplayISR=='4'">
		<div class="row" style="margin:0 auto;">
			<h3>Correctly Answered Questions</h3>
		</div>
		<div class="MasterDiv" *ngFor="let question of correctQuestionsList" style="border:2px solid black;">
			<div>
				<label>Mark or UnMark the word: </label>
				<div *ngIf="question.IsMarked == true">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRMarkOrUnmarkQuestion($event.target.getAttribute('value'), $event.target.checked,question)" checked>
							<span class="handle"></span>
  						</label>
				</div>
				<div *ngIf="question.IsMarked == false">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRMarkOrUnmarkQuestion($event.target.getAttribute('value'), $event.target.checked,question)">
							<span class="handle"></span>
  						</label>
				</div>
			</div>


			<div>
				<label>Show or dont show question: </label>
				<div *ngIf="question.IsDontShowQuestion == true">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRDontShowQuestionChecked($event.target.getAttribute('value'), $event.target.checked,question)" checked>
							<span class="handle"></span>
  						</label>
				</div>
				<div *ngIf="question.IsDontShowQuestion == false">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRDontShowQuestionChecked($event.target.getAttribute('value'), $event.target.checked,question)">
							<span class="handle"></span>
  						</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11">
					<div class="row">
						{{question.questionsAfterUg.Question}}<br/>
					</div>
					<div class="row" *ngFor="let choice of question.questionsAfterUg.Choices">
						<div *ngIf="choice.choiceId == question.questionsAfterUg.correctChoiceId" [ngClass]="{'my-classcorrect': choice.choiceId == question.questionsAfterUg.correctChoiceId }">
							{{choice.ChoiceText}} {{choice.choiceId}}<br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/><br/>

	<div *ngIf="toDisplayISR=='3'">
		<div class="row" style="margin:0 auto;">
			<h3>Marked Questions</h3>
		</div>
		<div class="MasterDiv" *ngFor="let question of markedQuestionsList" style="border:2px solid black;">
			<div>
				<label>Mark or UnMark the word: </label>
				<div *ngIf="question.IsMarked == true">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRMarkOrUnmarkQuestion($event.target.getAttribute('value'), $event.target.checked,question)" checked>
							<span class="handle"></span>
  						</label>
				</div>
				<div *ngIf="question.IsMarked == false">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRMarkOrUnmarkQuestion($event.target.getAttribute('value'), $event.target.checked,question)">
							<span class="handle"></span>
  						</label>
				</div>
			</div>


			<div>
				<label>Show or dont show question: </label>
				<div *ngIf="question.IsDontShowQuestion == true">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRDontShowQuestionChecked($event.target.getAttribute('value'), $event.target.checked,question)" checked>
							<span class="handle"></span>
  						</label>
				</div>
				<div *ngIf="question.IsDontShowQuestion == false">
					<label class="toggle col-sm-8">
							<!--<input type="checkbox" value="{{question.questionId}}" (click)="ISRMarkOrUnmarkQuestion(question.questionId)" name="question.questionId" >-->
							<input type="checkbox" id="{{question.questionsAfterUg.questionId}}" name="{{question.questionsAfterUg.questionId}}" value="{{question.questionsAfterUg.questionId}}" (click)="ISRDontShowQuestionChecked($event.target.getAttribute('value'), $event.target.checked,question)">
							<span class="handle"></span>
  						</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11">
					<div class="row">
						{{question.questionsAfterUg.Question}}<br/>
					</div>
					<div class="row" *ngFor="let choice of question.questionsAfterUg.Choices">
						<div *ngIf="choice.choiceId == question.questionsAfterUg.correctChoiceId" [ngClass]="{'my-classcorrect': choice.choiceId == question.questionsAfterUg.correctChoiceId }">
							{{choice.ChoiceText}} {{choice.choiceId}}<br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/><br/>
	<div>
		<button (click)="SaveTTOrSSAndISRData()">SaveData</button><br/><br/>
	</div>

</div>