<h3>TestList</h3>


<div class="row question">




    <form action="#">
        <div *ngIf="!showTest">
            <div *ngFor="let chapter of chapterButtonsList">
                <h2>Chapter</h2><br/><br/>
                <div *ngFor="let buttons of chapter">
                    
                    <button name="TestButtons" (click)="TestButtonClicked(buttons.Value)" ngDefaultControl>{{buttons.Key}}</button> -- {{buttons.Value}}<br/><br/>
                </div>
                <hr/>
            </div>
        </div>
    </form>
    <div *ngIf="showTest">
        <test [questionIDArrayAndUserIDAndTestMode]="questionIDArrayAndUserIDAndTestMode"></test>
    </div>









</div>